.tasks-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 0px 24px 24px 24px;
	overflow-y: scroll;
}

.tasks-list::-webkit-scrollbar {
	width: 3px;
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 10px;
	border-radius: 12px;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
